{% extends 'base.html' %}

{% block title %}Product List{% endblock %}
{% block description %}
<p class="fs-5 text-body-secondary">Исключительный онлайн-шопинг: широкий ассортимент товаров от ведущих
    брендов, быстрая доставка и превосходное качество обслуживания. Наша платформа предлагает удобный поиск,
    подробные описания и отзывы покупателей для информированного выбора. Гарантируем безопасные оплату и
    возврат, чтобы ваше шопинг-опыт был максимально приятным.</p>{% endblock %}

{% block content %}
{% endblock %}